.book-card{
    border: 1px solid rgb(161, 151, 151);
    padding: 5px;
    box-shadow: 5px 5px 5px gainsboro;
    border-radius: 10px;
    background-color: rgb(173, 209, 120);
    width: 320px;
    height: 350px;
    margin: 2%;
  }
  .book-card img{
      height: 200px;
  }
  .price-btn{
      display: flex;
    
  }
  .book-btn{
    margin-left: 50%;
}